<div class="row">

  <div id="meetup_meetups_list" class="small-6 columns">
    <ol class=" simple_with_animation vertical">
      <% @meetups.each do |meetup| %>
        <div class="meet">
          <% if meetup.has_key?("venue") %>
            <li class="event-name">
              <%= meetup['name'] %>
            </li>
            <li class="event-group">
              <%= meetup['group']['name'] %>
            </li>
            <li class="event-venue">
              <%= meetup['venue']['name'] %>
            </li>
            <li class="event-time">
              <%= (meetup['time']) %>
            </li>
          <% end %>
        </div>
      <% end %>
    </ol>
  </div>

  <div id="meetup_meetups_list" class="small-6 columns">
    <ol class=" simple_with_animation vertical">
      <% @meetups.each do |meetup| %>
        <div class="meet">
          <% if meetup.has_key?("venue") %>
            <li class="event-name">
              <%= meetup['name'] %>
            </li>
            <li class="event-group">
              <%= meetup['group']['name'] %>
            </li>
            <li class="event-venue">
              <%= meetup['venue']['name'] %>
            </li>
            <li class="event-time">
              <%= (meetup['time']) %>
            </li>
          <% end %>
        </div>
    <% end %>
  </ol>
</div>
