<form method="POST" action="/login">
  <input type="text" id="email" name="email" placeholder="Email">
  <input type="password" id="password" name="password" placeholder="password">
  <input type="submit" value="Login">

</form>

<%= form_for @new_user do |f| %>
  <%= f.text_field :username, :placeholder => "Username" %>
  <%= f.text_field :email, :placeholder => "Email address" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
  <%= f.submit "Register" %>
<% end %>

<form method="GET" action="/logout">
  <input type="submit" value="Logout">
</form>

<%= current_user.username if current_user%>








